@import '../../../common.scss';

.container {
  @include flexCenterStyle;
  width: 100vw;
  height: 200vh;
  background-color: #f0f0f0;
  position: relative;

  > .info {
    width: 100%;
    max-width: 80vw;
    position: relative;

    > .title {
      text-transform: uppercase;
      font-size: 10vw;
      position: absolute;
      left: 50%;
      top: 50%;
      color: #000;
      font-weight: bold;
      white-space: nowrap;
      transform: translate(-50%, -50%);
      z-index: 2;
    }
  }
}
