@import '../../../common.scss';

.container {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  position: relative;
  overflow: hidden;

  > .buble {
    > li {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 20px;
      height: 20px;
      background-color: #fff;
      border-radius: 50%;
      filter: blur(3px);
      transform: translate(-50%, -50%);
    }
  }
}
